
.card-flex-article .card-divider {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
}

.card-flex-article .card-divider p {
  margin-bottom: 0;
}

.card-flex-article .card-divider .avatar {
  margin-right: 0.75rem;
}

.card-flex-article .avatar {
  position: relative;
}

.card-flex-article .avatar img {
  border-radius: 50%;
}

.card-flex-article .avatar.with-add-icon .fa {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #cc4b37;
}

.card-flex-article .card-actions .fa:not(:last-of-type) {
  margin-right: 1rem;
}

.card-flex-article .card-image {
  position: relative;
}

.card-flex-article .card-tag {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3%;
}

.card-flex-article .card-section .article-title {
  font-family: 'Merriweather', serif;
  font-weight: bold;
  font-size: 1.75rem;
  margin-bottom: 0;
}

.card-flex-article .card-section .article-details {
  font-size: 0.75rem;
  opacity: 0.5;
  padding-bottom: 0.75rem;
}

.card-flex-article .card-section .article-summary {
  font-family: 'Merriweather', serif;
}

.card-flex-article .user-info {
  font-size: 0.75rem;
}

.card-flex-article .user-info .user-name {
  font-weight: bold;
  margin-bottom: 0;
}

.card-flex-article .notability {
  font-size: 0.75rem;
  opacity: 0.5;
}


.responsive-blog-post {
  margin-bottom: 4rem;
}

.responsive-blog-post p {
  color: #8a8a8a;
}

.responsive-blog-post .button {
  padding: 0.85rem 3rem;
  background: #1779ba;
}

.responsive-blog-post .button:hover {
  background-color: #146aa3;
  transition: color 0.3s ease-in;
}

.responsive-blog-post .individual-post {
  margin-bottom: 4rem;
}

.responsive-blog-post h4 {
  margin-bottom: 0;
}

.responsive-blog-post h4:hover {
  text-decoration: underline;
  transition: color 0.3s ease-in;
}

@media screen and (max-width: 39.9375em) {
  .responsive-blog-post h4 {
    font-size: 1.5rem;
  }
}

.responsive-blog-post img {
  margin-bottom: 1.5rem;
}

.responsive-blog-post .date {
  font-size: 0.8rem;
  color: #8a8a8a;
}
